//Fonts
@font-face{
  font-family:Main;
  src:url('./fonts/cloudveil_font.otf');
}

html{
  padding:0;
  margin:0;
  @media (max-width:850px) {
    background-color: blue;
  }
}

// Head title
.header{
  height:7em;
  width:100%;
  display:flex;
  background-color: #E0E0E0;
  justify-content: flex-end;

  // Phone display
  @media (max-width:850px) {
    height:3em;
  }
  //tablet break point
  @media (min-width:850px) and (max-width: 1024px){
    font-size:2em;
    padding-right: .1em;
    margin-right: .1em;
    height: 4em;
  }

}
.title{
  font-family:Main;
  font-size:2em;
  padding-right:.25em;
  margin-right: .25em;
//Phone break point
  @media (max-width:850px) {
    font-size:.75em;
    padding-right: .1em;
    margin-right: .1em;
  }
  //tablet break point
  @media (min-width:850px) and (max-width: 1024px) {
    font-size:.75em;
    padding-right: .1em;
    margin-right: .1em;
  }
}
.mainLogo{
  height:2em;
  width:3em;

  //phone break point
  @media (max-width:850px) {
    height:1em;
    width:1.5em;
  }

  //tablet break point
  @media (min-width:850px) and (max-width: 1024px) {

  }
}

//main area

.mainArea{
  
}
