//Fonts
@font-face{
  font-family:Main;
  src:url('./fonts/cloudveil_font.otf');
}

html{
  padding:0;
  margin:0;
  width: 100%;
  @media (max-width:850px) {
    background-color: blue;
  }
}


// Head title
.header{
  height:7em;
  width:100%;
  display:flex;
  background-color: #E0E0E0;
  justify-content: space-between;

  // Phone display
  @media (max-width:850px) {
    height:3em;
  }
  //tablet break point
  @media (min-width:850px) and (max-width: 1024px){
    font-size:2em;
    padding-right: .1em;
    margin-right: .1em;
    height: 4em;
  }
}
.header_title{
  display:flex;
  justify-content: space-between;
  //tablet break point
  @media (min-width:850px) and (max-width: 1024px) {
  }
}
.title{
  font-family:Main;
  font-size:2em;
  padding-right:.25em;
  margin-right: .25em;
//Phone break point
  @media (max-width:850px) {
    font-size:.75em;
    padding-right: .1em;
    margin-right: .1em;
  }
  //tablet break point
  @media (min-width:850px) and (max-width: 1024px) {
    font-size:.75em;
    padding-right: .1em;
    margin-right: .1em;
  }
}
.mainLogo{
  height:3em;
  width:4em;
  // padding-right: 1em;

  //phone break point
  @media (max-width:950px) {
    height:.75em;
    width:1em;
  }

  //tablet break point
  @media (min-width:750px) and (max-width: 1240px) {
    height:2em;
    width:3em;
    padding-right:1em
  }
}
//header and Nav Bar
.top-bar{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:#50AADF;
  .navigation{
    display: flex;
    cursor:pointer;
    justify-content: center;
    border:.25em solid black;
    width: 100%;
    margin: 0;
    padding:0;
    font-size:1em;
  }
}
//Login Page
.loginPage{
  display:flex;
  flex:1;
  height: 7em;
  flex-direction:column;
}
.loginFields{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.inputfield{
  background-color: white;
}

.userButton{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
  .userLogIn{
  align-self:baseline;
  justify-content:flex-end;
  align-content: flex-end;
  margin-right:2em;
  margin-bottom:.5em;
  background-color: black;
  color:white;
  }
}
//main area

.mainArea{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;

}

.dropdownSelector{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.PicDisplay{
  display:flex;
  width: 100vw;
  height: 100vh;
  border: 10px solid red;
  overflow: scroll;
}
.Display{
  border:10px solid black;
  width:20em;
  height:20em;
}
